<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="login.jsp" method="post">
		<div class="font">
			<h1>USER LOGIN</h1>
			<table>
				<tr>
					<td>User Name:</td>
					<td><input type="text" required name="name"
						placeholder="username"><br /></td>
				</tr>
				<tr>
					<td>password:</td>
					<td><input type="password" required name="password"
						placeholder="password"><br /></td>
				</tr>
			</table>
			<table style="margin-left: 205px;">
				<tr>
					<td><input type="submit" value="ok"></td>
				</tr>
			</table>
		</div>
	</form>
<p>New user. <a href="register.html">register Here</a>. </body>
</body>
</html>