<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="page">
	<input type="hidden" name="one" value="1">
	<a href="json.html"><button>create jsonfile</button></a><br/>
	<!-- <a href="add.html"><button>Add products</button></a><br/> -->
	<a href="displayItems.html"><button>display Items</button></a><br/>
	<form action="products" action="post">
	<input type="submit" value="Know Products">
	</form>
</div>
</body>
</html>