<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Servlet Login Example</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

	<form action="login" method="post">
		<div class="font">
			<h1>USER LOGIN</h1>
			<table>
				<tr>
					<td>User Name:</td>
					<td><input type="text" required name="name"
						placeholder="username"><br /></td>
				</tr>
				<tr>
					<td>password:</td>
					<td><input type="password" required name="password"
						placeholder="password"><br /></td>
				</tr>
			</table>
			<table style="margin-left: 205px;">
				<tr>
					<td><input type="submit" value="ok"></td>
				</tr>
				
			</table>
			
		</div>
		
	</form>
</body>
</html>
