<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<h1 style="font-size: 20px;color:#0000ffb8;margin-left: 408px;">WELCOME TO REGISTRATION PAGE</h1>
<body>

<form action="register" method="post" style="width: 464px;background-color:#fdfdfd;top: 54px;border-radius: 19px;margin-left: 407px;margin-top: 87px;">
	<table style="margin: 30px;">
	   <tr></tr>
	   <tr></tr>
	   <tr></tr>
	   <tr></tr>
		<tr>
			<td>User Name:</td>
			<td><input type="text" required name="name" placeholder="username"><br /></td>
		</tr>
		<tr>
			<td>password:</td>
			<td><input type="password" required name="password" placeholder="password"><br /></td>
		</tr>
		<tr>
		   <td>Mobile Number:</td>
           <td><input type="number" required name="address" placeholder="number"><br /></td>
        </tr>
		<tr>
			<td>Gender:</td>
			<td><input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female
                 <input type="radio" name="gender" value="other"> Other
            </td>
		</tr>
		<tr>
		   <td>Address:</td>
           <td><textarea required name="address" placeholder="Address Details"></textarea><br /></td>
        </tr>
		
	</table>
	<table style="margin-left: 205px;">
	<tr>
		    <td><input type="submit" value="ok"></td>
		</tr>
	</table>
	
</form>
</body>
</html>